<!DOCTYPEhtml>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Quotes</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'quotesapp:quote' %}" role="button">Add Quote</a></li>
            <li><a href="{% url 'quotesapp:author' %}" role="button">Add Author</a></li>
            <li><a href="{% url 'quotesapp:tag' %}" role="button">Add Tag</a></li>
            <li><a href="{% url 'quotesapp:tag' %}" role="button">Import Data</a></li>
        </ul>
        <ul>
            <li>Welcome <b>{{ user.username }}!</b></li>
            <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
            <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
        </ul>
        {% endif %}
    </nav>

    {% for q in quote %}
    <ul>
        <li>
            <a href="{% url 'quotesapp:detailQuote' q.id %}"> {{ q.quote }} </a>
        </li>
    </ul>
    {% endfor %}
</main>
</body>
</html>
