<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand navbar-dark bg-dark"
        aria-label="Second navbar example"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="./logo.png" alt="logo" />
          </a>
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Exchange rates</h1>
        <p class="fs-5 text-muted">
          Below you will find the EUR and USD exchange rate for the days you selected by running this code:
        </p>
      </div>
    </header>
    <main class="container">
      <div class="row row-cols-1 row-cols-md-2 text-center">
        <div class="col">
          <div class="card mb-2 rounded-3 shadow-sm border-success">
            <div class="card-header py-3 text-bg-success border-success">
              <h4 class="my-0 fw-normal">EUR</h4>
            </div>
            <div class="card-body">
              <table>
                <tr>
                    <td>
                      <h5>Date:</h5>
                    </td>
                    <td>
                      <h5>Rate:</h5>
                    </td>
                </tr>
                {% for rate in rates_EUR -%}
                <tr>
                    <td>
                        {{ rate.effectiveDate }}    
                    </td>
                    <td>
                        {{ rate.mid }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-success">
            <div class="card-header py-3 text-bg-success border-success">
              <h4 class="my-0 fw-normal">USD</h4>
            </div>
            <div class="card-body">
              <table>
                <tr>
                    <td>
                      <h5>Date:</h5>
                    </td>
                    <td>
                      <h5>Rate:</h5>
                    </td>
                </tr>
                {% for rate in rates_USD -%}
                <tr>
                    <td>
                        {{ rate.effectiveDate }}    
                    </td>
                    <td>
                        {{ rate.mid }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
